* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-box {
  width: 100%;
  padding: 30px 20px;
  background-color: rgb(175, 22, 175);
  display: flex;
  justify-content: flex-end;
}

.header-box > div {
  margin: 0 10px;
  height: 70px;
  flex-basis: 140px;
  background-color: pink;
}

.header-box > :first-child {
  margin-right: auto;
}

main {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.main-box1 {
  background-color: rgb(190, 243, 190);
  width: 300px;
}

.main-box2 {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  background-color: green;
  flex-grow: 1;
  padding: 20px;
}

.main-box2 > div {
  flex-basis: 200px;
  height: 130px;
  background-color: rgb(218, 218, 95);
  margin: 10px;
}

.footer-box {
  width: 100%;
  padding: 20px;
  background-color: rgb(55, 150, 209);
  display: flex;
  flex-wrap: wrap;
}

.footer-box > div {
  margin: 10px;
  background-color: rgb(163, 207, 235);
  height: 40px;
  flex-basis: 45%;
  max-width: 600px;
}

.footer-box > :last-child {
  margin: auto;
}
